[submodule "themes/opeat-hugrid"]
	path = themes/opeat-hugrid
	url = git://github.com/openassistive/openat-hugrid
[submodule "themes/openat-hugrid"]
	path = themes/openat-hugrid
	url = git://github.com/openassistive/openat-hugrid
